<div class="max-w-sm w-[350px]">
  <div
    class="relative half-border-left card flex flex-col justify-center p-[1.5rem] bg-white rounded-lg border"
  >
    <div class="prod-title absolute left-[3rem] top-[1.5rem]">
      <div class="flex flex-col space-y-1">
        <div><p class="text-2xl text-gray-400">Puma Shoes</p></div>
        <div>
          <p class="text-sm text-gray-900 font-bold">
            The best shoes in the marketplace
          </p>
        </div>
      </div>
    </div>
    <div class="prod-img">
      <img
        src="https://res.cloudinary.com/damu971dt/image/upload/v1698331523/shoes/KD_Trey_5_VII_EP-removebg-preview_vjjnoh.png"
        class="w-full object-cover object-center"
      />
    </div>
    <div class="prod-info grid gap-10">
      <div
        class="flex flex-col md:flex-row justify-between items-center text-gray-900"
      >
        <div>
          <span> Price </span>
          <p class="font-bold text-xl">$65</p>
        </div>
        <div class="flex space-x-2">
          <img
            src="https://res.cloudinary.com/damu971dt/image/upload/v1698331523/shoes/KD_Trey_5_VII_EP-removebg-preview_vjjnoh.png"
            class="rounded-lg border object-cover object-center"
            width="50"
            height="50"
          />
          <img
            src="https://res.cloudinary.com/damu971dt/image/upload/v1698331523/shoes/KD_Trey_5_VII_EP-removebg-preview_vjjnoh.png"
            class="rounded-lg border object-cover object-center"
            width="50"
            height="50"
          />
        </div>
      </div>
    </div>
  </div>
</div>
