<div class="max-w-sm w-[350px]">
    <div class="relative card flex flex-col justify-center p-[1.5rem] bg-white rounded-lg border">
        <div class="border-vertical" [style.color]="product.colors[0].color_hash"></div>
        <div class="prod-title absolute left-[3rem] top-[1.5rem]">
            <div class="flex flex-col space-y-1">
                <div>
                    <p class="text-2xl text-gray-400">{{ product.category }}</p>
                </div>
                <div>
                    <p class="text-sm text-gray-900 font-bold">
                        {{ product.name }}
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-img">
            <img [defaultImage]="defaultImage" [lazyLoad]="product.images" alt="Product Images" class="w-full h-[280px] object-cover object-center">
        </div>
        <div class="prod-info grid gap-10">
            <div class="flex flex-col md:flex-row justify-between items-center text-gray-900">
                <div>
                    <span> Price</span>
                    <p class="font-bold text-xl">${{ product.price }}</p>
                </div>
                <div class="flex space-x-2">
                    <img
                        [defaultImage]="defaultImage"
                        [lazyLoad]="product.images"
                        class="rounded-lg border object-cover object-center"
                        width="50"
                        height="50"
                        alt="Product Images"
                    >
                    <img
                        [defaultImage]="defaultImage"
                        [lazyLoad]="product.images"
                        class="rounded-lg border object-cover object-center"
                        width="50"
                        height="50"
                        alt="Product Images"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
