.half-border-left {
	position: relative;
	padding-left: 10px;
}

.half-border-left::before {
	content: '';
	position: absolute;
	left: -4px;
	top: 25px;
	height: 55px;
	width: 4px;
	background-color: #ff0000;
}
